.methodType {
    display: inline-block;
}

.classTitle {
    font-weight: bold;
    font-size: 2em;
}

.sectionHeader {
    font-weight: bold;
    margin-bottom: 10px;
}

.surroundCard {
    border-color: #FF5409;
}

.card-block {
    padding: 10px;
}
.methodName{
    text-align: center;
}